body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

/* Style for the navigation bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: white;
  gap: 10px;
  background-color: #333;
}

/* Style for the button in the navbar */
.nav-bar button {
  background-color: #4caf50; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Adjust padding for better appearance */
  margin: 10px; /* Add some margin to separate buttons */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for the button */
.nav-bar button:hover {
  background-color: #00f70c; /* Darker background color on hover */
}

@media screen and (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}

.entire-form {
margin-top: 100px;
/* background-color: red; */
}

/* Style for the form container */
.form-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the labels */
.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the input fields */
.form-container .input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Style for the input fields on focus */
.form-container .input:focus {
  border-color: #0edd4c;
  outline: none;
}

/* Style for the submit button */
.form-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
.form-container button:hover {
  background-color: #00f70c;
}

/* Style for error message */
.form-container p.error {
  color: red;
  margin-top: 10px;
}

/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
}

/* Style for the search input */
.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Style for the search input on focus */
.search-container input[type="text"]:focus {
  border-color: #06f02d;
  outline: none;
}

/* Style for the search button */
.search-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the search button */
.search-container button[type="submit"]:hover {
  background-color:#00f70c
}